name: 'dprint-check-action'

on: push

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dprint/check@v2.1
        with:
          dprint-version: 0.15.0
